body {
  margin: 0 auto;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 19px;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 14px;
}

h3 {
  font-family: "Shrikhand";
  font-size: 14px;
  color: white;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 12px;
}

li {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

span {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 300;
}

header {
  display: flex;
  justify-content: center;
}

.logoheader {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 40%;
}

#container_loc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #EAEAEA;
  height: 50px;
  gap: 5px;
  box-shadow: inset 0px 6px 3px -3px rgba(50, 53, 50, 0.52);
}

#loc, i {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #353535;
  text-align: center;
  line-height: 50px;
}

.fa-location-dot {
  line-height: 44px;
}

#resa {
  text-align: center;
  background-color: #F6F6F6;
  width: 100%;
}

#intro {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  color: black;
  height: 220px;
  justify-content: space-evenly;
}

#intro h1 {
  margin: 0 30px 0 30px;
}

.text_thin {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 14px;
}

button {
  display: inline-block;
  align-self: center;
  cursor: pointer;
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  color: white;
  border-radius: 6em;
  border: transparent;
  box-shadow: 0px 5px 17px 0px rgba(51, 53, 50, 0.77);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  width: 187px;
  line-height: 3;
}

button:hover {
  box-shadow: 0px 5px 37px 0px rgba(51, 53, 50, 0.77);
  background: linear-gradient(200.64deg, #b586ee -5.2%, #efa3d9 110.74%);
}

#tuto {
  display: flex;
  flex-direction: column;
}

#tuto h1 {
  padding: 30px 0 0 10px;
}

#tuto_ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline-start: 0;
  margin-block-start: 0.5em;
  margin-block-end: 3.5em;
  gap: 20px;
}

#tuto_ul li {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 55px;
  width: 80%;
  padding-left: 30px;
  border: 2px solid transparent;
  border-radius: 15px;
  background-color: #F6F6F6;
  box-shadow: 0px 5px 25px 0px rgba(173, 173, 172, 0.77);
}

.num {
  position: absolute;
  text-align: center;
  top: 17px;
  left: -10px;
  border-radius: 50px;
  line-height: 15px;
  width: 15px;
  color: white;
  border: 1px solid #9356DC;
  background-color: #9356DC;
}

#tuto_ul li i {
  margin-right: 10px;
  color: grey;
}

#tuto_ul li:hover {
  background-color: rgb(237, 225, 252);
}

#tuto_ul li:hover i {
  color: #9356DC;
}

#places {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
}

#places h1 {
  padding: 30px 0 0 10px;
}

#places i {
  color: black;
}

#container_cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-bottom: 60px;
}

#container_cards a {
  text-decoration: none;
  color: black;
}

.card {
  position: relative;
  background-color: white;
  border: 0px solid transparent;
  border-radius: 15px;
  box-shadow: 0px 13px 17px 0px rgba(136, 140, 135, 0.77);
  width: 90%;
}

.new {
  position: absolute;
  top: 20px;
  right: 20px;
  border: 1px solid transparent;
  background: #99E2D0;
  border-radius: 2px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  text-align: center;
  color: #018766;
  line-height: 20px;
  width: 70px;
}

.img_card {
  border-radius: 20px 20px 0 0;
}

.img_card img {
  border-radius: 15px 15px 0 0;
  box-sizing: border-box;
  width: 100%;
}

.container_info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  margin: 0;
  padding: 10px 0 10px 10px;
}

.title h2, h4 {
  margin: 0;
  line-height: 17px;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icon {
  cursor: pointer;
  align-items: center;
  padding-right: 15px;
}

.full {
  opacity: 0;
  background-image: linear-gradient(#ff79da, #9356dc);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: all 200ms ease-in-out;
}

.icon:hover .full {
  opacity: 1;
  transform-origin: 50% bottom;
  transition-duration: 0.5s;
  transform: translateY(11%) scale(1.2);
}

footer {
  background-color: #353535;
  height: 170px;
}

footer h3 {
  margin: 0;
  padding: 20px 0 0 20px;
}

#footer_ul i {
  color: white;
  padding-right: 5px;
}

#footer_ul {
  color: white;
  list-style-type: none;
  padding-block-start: 0;
  padding-block-end: 0;
  padding-inline-start: 20px;
}

#footer_ul li {
  line-height: 25px;
}

#footer_ul li a {
  text-decoration: none;
  color: white;
}

.arrow_i {
  align-self: center;
}

img {
  width: 100%;
  z-index: -1;
}

.rest_name {
  font-family: "Shrikhand";
  font-size: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px 0 20px;
}

.rest_name i {
  line-height: 40px;
  font-size: 24px;
  align-self: center;
}

.menu {
  background-color: #F6F6F6;
  border-radius: 35px 35px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.appetizer, .meal, .dessert {
  margin-bottom: 30px;
}

.id_menu {
  margin-left: 10px;
}

.plat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 0px solid transparent;
  border-radius: 15px;
  box-shadow: 0px 13px 17px 0px rgba(136, 140, 135, 0.77);
  margin: 10px;
  padding: 10px;
}

.btn_check {
  display: none;
}

.price {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
  align-self: flex-end;
}

.order {
  margin-bottom: 30px;
}

/*# sourceMappingURL=main.css.map */
