@import "./utils/_variables.scss";
//BODY//
body{
    margin: 0 auto;
}
h1{
    font-family: $font-text;
    font-weight: 600;
    font-size: 19px;
}
h2{
    font-family: $font-text;
    font-weight: 600;
    font-size: 14px;
}
h3{
    font-family: $font-title;
    font-size: 14px;
    color: white;
}
h4{
    font-family: $font-text;
    font-weight: 100;
    font-size: 12px;
}
li{
    font-family: $font-text;
    font-size: 14px;
}
//HEADER//
header{
    display: flex;
    justify-content: center;

}
.logoheader{
    display: flex;
    padding: 10px;
    width: 40%;
}

//MAIN//
#container_loc{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #EAEAEA;
    height: 50px;
    gap: 5px;
}
#loc, i{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #353535;
    text-align: center;
    line-height: 50px;
}
.fa-location-dot{
    line-height: 44px;
}
//SECTION RESA//
#resa{
    text-align: center;
    background-color: #F6F6F6;
    width: 100%;
}
#intro{
    display: flex;
    flex-direction: column;
    font-family: $font-text;
    color: $font-color;
    height: 220px;
    justify-content: space-evenly;
}
#intro h1{
    margin: 0 30px 0 30px;
}
.text_thin{
    font-family: $font-text;
    font-weight: 300;
    font-size: 14px;
}
button{
    display: inline-block;
    align-self: center;
    background: linear-gradient(200.64deg, $color-primary -5.2%, $color-secondary 110.74%);
    color: white;
    border-radius: 6em;
    border: transparent;
    box-shadow: 0px 5px 17px 0px rgba(51, 53, 50, 0.77);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    width: 187px;
    line-height: 3;
}
//SECTION TUTO//
#tuto{
    display: flex;
    flex-direction: column;
}
#tuto h1{
    padding-left: 10px;
}
#tuto_ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline-start: 0;
    gap: 40px;
}
#tuto_ul li{
    font-family: $font-text;
    font-size: 12px;
    font-weight: 500;
    line-height: 55px;
    width: 90%;
    border: 2px solid transparent;
    border-radius: 15px;
    background-color: #F6F6F6;
    box-shadow: 0px 5px 25px 0px rgba(173, 173, 172, 0.77);
}
#tuto_ul li i{
    margin-right: 10px;
    color: grey;
}
#tuto_ul li:hover{
    background-color: rgb(237, 225, 252);
}
#tuto_ul li:hover i{
    color: $color-primary;
}
//SECTION RESTAURANTS//
#places{
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
}
#places h1{
    padding-left: 10px;
}
#places i{
    color: black;
}
#container_cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
#container_cards a{
    text-decoration: none;
    color: black;
}
.card{
    background-color: white;
    border: 0px solid transparent;
    border-radius: 15px;
    box-shadow: 0px 13px 17px 0px rgba(136, 140, 135, 0.77);
    width: 90%;
}
.img_card{
    border-radius: 20px 20px 0 0;
}
.img_card img{
    border-radius: 15px 15px 0 0;
    box-sizing: border-box;
    width: 100%;
}
.container_info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.title{
    margin: 0;
    padding: 10px 0 10px 10px;
}
.title h2,h4{
    margin: 0;
    line-height: 17px;
}
.icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.icon i{
    align-items: center;
    padding-right: 15px;
}
//FOOTER// 
footer{
    background-color: #353535;
    height: 150px;
    margin-top: 50px;
}
footer h3{
    margin: 0;
    padding: 15px;
}
#footer_ul i{
    color: white;
}
#footer_ul{
    color: white;
    list-style-type: none;
}
