$color-primary: #9356DC;
$color-prim-light: #9f6cdc;
$color-secondary: #FF79DA;
$color-sec-light: #c463a9; 
$color-tertiary: #62bba5;
$color-tert-light: #ccf0e7;
$font-color: black;
$font-text: 'Roboto', sans-serif;
$font-title: 'Shrikhand';
$backlightgrey: #F6F6F6;
$backhover-color: white;

