$color-primary: #9356DC;
$color-prim-light: #d7b8fd;
$color-secondary: #FF79DA;
$color-sec-light: #f1d3e9; 
$color-tertiary: #62bba5;
$color-tert-light: #cef1e8;
$font-color: black;
$font-text: 'Roboto', sans-serif;
$font-title: 'Shrikhand';
$backlightgrey: #F6F6F6;
$backhover-color: white;

